@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-chart{
  background: linear-gradient(180deg, #F8D12F 0%, #F0B90B 100%);

}
.bg-about{
  background-image: url('../public/Section.png');
  height: 70vh;
  background-size: cover;
}
.bg-sell{
  background-image: url('../public/Container (2).png');
  height: 100vh;
  background-size: cover;
}
.bg-staking{
  background-image: url('../public/Section\(1\).png');
  height: 100vh;
  background-size: cover;
}
.bg-convert{
  background-image: url('../public/converter_bg.svg\ fill.png');
  height: 500px;
  width: 500px;
  background-size: cover;
}
.bg-law{

  background-image: url('../public/Section\ \(3\).png');
  height: 70vh;
  background-size: cover;
}
.bg-support{
  background-image: url('../public/Section\ \(2\).png');
  height: 70vh;
  background-size: cover;
}